# Etapa 3: Análisis de datos utilizando SQL


## Objetivos

En esta práctica subiremos los datos a una base de datos SQL y realizaremos diferentes queries para obtener información sobre los datos

In [ ]:

import pandas as pd
import numpy as np
!pip install PyMySQL --quiet
import pymysql as pymsql
!pip install mysql-connector --quiet
import mysql.connector
from sqlalchemy import create_engine
!pip install sqlalchemy-utils --quiet
from sqlalchemy_utils import database_exists, create_database
pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', None)


### Tarea 1: Subir los datos a la base de datos:

Primero cargamos el archivo de datos `dataset_part_2.csv`.

In [ ]:
#1. Leer el archivo top250 y ver el dataframe
df_path = "dataset_part_2.csv"
df = pd.read_csv(df_path)

In [ ]:
#Rellena la siguiente variable con tu nombre y apellido (Todo junto y sin espacios). Usa la misma que en la práctica de ETL
nombreBD = ''
linkConexion = 'mysql+mysqlconnector://alumno:385bd4cf713a8a36@35.180.98.205/' + nombreBD
#Establecemos la conexión
engine = create_engine(linkConexion)

In [ ]:
if not database_exists(engine.url):
    create_database(engine.url)

In [ ]:
# Añadir dataframes a sql para SPACEXTBL df.
df.to_sql(name='SPACEXTBL', con=engine, if_exists='replace', index=False)

In [ ]:
query = """select * from SPACEXTBL;"""
df  = pd.read_sql(query, con = engine )

## Tarea 2: Queries con SQL

### Ejercicio 1

##### Muestra las diferentes plataformas de lanzamiento:

In [ ]:
query = """ SELECT DISTINCT LAUNCHSITE as "Launch_Sites" FROM SPACEXTBL;"""
df  = pd.read_sql(query, con = engine )
df

   Launch_Sites
0  CCSFS SLC 40
1   VAFB SLC 4E
2    KSC LC 39A

### Ejercicio 2

##### Muestra 5 lanzamientos cuya plataforma empiece por 'CCS'

In [ ]:
query = """SELECT * FROM SPACEXTBL WHERE LAUNCHSITE LIKE 'CCS%' LIMIT 5;"""
df  = pd.read_sql(query, con = engine )
df

,FlightNumber,Date,BoosterVersion,PayloadMass,Payload,Orbit,LaunchSite,LandingOutcome,Flights,GridFins,Reused,Legs,LandingPad,Block,Customers,Mission_Outcome,ReusedCount,Serial,Longitude,Latitude,Class
0,1,2010-06-04,Falcon 9,6123.547647,Dragon Qualification Unit,LEO,CCSFS SLC 40,None None,1,0,0,0,None,1.0,SpaceX,1,0,B0003,-80.577366,28.561857,0
1,2,2012-05-22,Falcon 9,525.000000,COTS Demo Flight 2,LEO,CCSFS SLC 40,None None,1,0,0,0,None,1.0,NASA(COTS),1,0,B0005,-80.577366,28.561857,0
2,3,2013-03-01,Falcon 9,677.000000,CRS-2,ISS,CCSFS SLC 40,None None,1,0,0,0,None,1.0,NASA (CRS),1,0,B0007,-80.577366,28.561857,0
3,5,2013-12-03,Falcon 9,3170.000000,SES-8,GTO,CCSFS SLC 40,None None,1,0,0,0,None,1.0,SES,1,0,B1004,-80.577366,28.561857,0
4,6,2014-01-06,Falcon 9,3325.000000,Thaicom 6,GTO,CCSFS SLC 40,None None,1,0,0,0,None,1.0,Thaicom,1,0,B1005,-80.577366,28.561857,0

### Ejercicio 3

##### Mustra el la masa total transportada por los lanzamientos realizados donde el cliente es NASA (CRS)

In [ ]:
query = """ SELECT SUM(PayloadMass) AS "Total Payload Mass by NASA (CRS)" FROM SPACEXTBL WHERE CUSTOMERS = 'NASA (CRS)';"""
df  = pd.read_sql(query, con = engine )
df

   Total Payload Mass by NASA (CRS)
0                           47094.7

### Ejercicio 4

##### Muestra la masa media tranportada por lanzamientos con serie que comienza por B1

In [ ]:
query = """ SELECT AVG(PayloadMass) AS "Avg. Payload mass by booster version" FROM SPACEXTBL WHERE Serial LIKE 'B1%';"""
df  = pd.read_sql(query, con = engine )
df

   Avg. Payload mass by booster version
0                           6250.502765

### Ejercicio 5

##### Muestra la fecha donde se realizo el primer aterrizaje exitoso sobre terreno (TRUE RTLS)

*Pista:Utiliza la función min*

In [ ]:
query = """ SELECT MIN(DATE) AS "First Succesful Landing Outcome in Ground Pad" FROM SPACEXTBL WHERE LandingOutcome = 'TRUE RTLS' ;"""

df  = pd.read_sql(query, con = engine )
df

  First Succesful Landing Outcome in Ground Pad
0                                    2015-12-22

### Ejercicio 6

##### Muestra las series de los cohetes que aterrizaron sobre portaviones (TRUE ASDS) con una masa entre 4000 y 6000

In [ ]:
query = """ SELECT Serial FROM SPACEXTBL WHERE LandingOutcome = 'TRUE ASDS' \
AND PayloadMass > 4000 AND PayloadMass < 6000;"""
df  = pd.read_sql(query, con = engine )
df

  Serial
0  B1022
1  B1026
2  B1021
3  B1031
4  B1046
5  B1059

### Ejercicio 7

##### Muestra el numero de lanzamientos que completaron su mision correctamente y aquellos que fallaron

In [ ]:
query = """ SELECT MISSION_OUTCOME, COUNT(*) AS Result_mision FROM SPACEXTBL GROUP BY MISSION_OUTCOME;"""
df  = pd.read_sql(query, con = engine )
df

   MISSION_OUTCOME  Result_mision
0                0              2
1                1             88

### Ejercicio 8

##### Muestra las series de los cohetes que transportaron la masa máxima

In [ ]:
query = """ SELECT Serial FROM SPACEXTBL WHERE PayloadMass = (SELECT MAX(PayloadMass) FROM SPACEXTBL);"""
df  = pd.read_sql(query, con = engine )
df

   Serial
0   B1048
1   B1049
2   B1051
3   B1056
4   B1048
5   B1051
6   B1049
7   B1059
8   B1049
9   B1060
10  B1058
11  B1051
12  B1060

### Ejercicio 9

##### Muestra los el resultados del aterrizaje, la serie del cohete y las plataforma de lanzamiento de aquellos lanzamientos fallidos o no intentados en el año 2015

In [ ]:
query = """ SELECT DATE, Serial, LAUNCHSITE, LandingOutcome FROM SPACEXTBL WHERE Class = 0 AND year(Date) = 2015;"""
df  = pd.read_sql(query, con = engine )
df

         DATE Serial    LAUNCHSITE LandingOutcome
0  2015-01-10  B1012  CCSFS SLC 40     False ASDS
1  2015-04-14  B1015  CCSFS SLC 40     False ASDS
2  2015-04-27  B1016  CCSFS SLC 40      None None
3  2015-06-28  B1018  CCSFS SLC 40      None ASDS

### Ejercicio 10

##### Muestra los resultados y la frecuencia de estos resultados entre 2010-06-04 y 2017-03-20 ordenados en orden descendiente según la frecuencia

In [ ]:
query = """ SELECT LANDINGOUTCOME, COUNT(*) AS COUNTLAUNCHES FROM SPACEXTBL 
 WHERE DATE BETWEEN '2010-06-04' AND '2017-03-20' GROUP BY LANDINGOUTCOME ORDER BY COUNTLAUNCHES DESC;"""
df  = pd.read_sql(query, con = engine )
df

  LANDINGOUTCOME  COUNTLAUNCHES
0      None None              9
1      True ASDS              5
2     False ASDS              4
3     True Ocean              3
4      True RTLS              3
5    False Ocean              2
6      None ASDS              2

In [ ]:
str={213:"asdasd"}